{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Tim</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}

{% block content %}
{% include 'navbar-manajer.html' %}
<h1>Welcome, {{ Manager }}</h1>

<h4>Form Registrasi</h4>
<form method="POST">
  {% csrf_token %}
  <label for="nama_tim">Nama Tim:</label>
  <input type="text" id="nama_tim" name="nama_tim" required><br><br>
  
  <label for="universitas">Nama Universitas:</label>
  <input type="text" id="universitas" name="universitas" required><br><br>
  
  <button type="submit">Daftar</button>
</form>
{% endblock content %}
