{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock meta %}

{% block styles %}
{% endblock styles %}

{% block content %}
{% include 'navbar-manajer.html' %}
<div class="row">
  <div class="column left" style="background-color:#D6D6D6;"> 
    <h1 class="text-center mt-3">Halo, Manajer!</h1>
    <div class="profile-pic" style="padding-top: 65px;">
      <img src="{% static 'images/id-card.png' %}" alt="Logo ID Card">
    </div>
    <h2 class="text-center mt-3">{{ user.0.nama_depan }} {{ user.0.nama_belakang }}</h2>
    <p class="text-center bio"></p>
    <ul class="list-unstyled text-center profile">
      <li><img src="{% static 'images/status_nonpemain.png' %}" alt="Logo Status Non Pemain" style="padding: 10px;">{{ user.0.status }}</li>
      <li><img src="{% static 'images/phone.png' %}" alt="Logo Phone" style="padding: 10px;">0{{ user.0.nomor_hp }}</li>
      <li><img src="{% static 'images/email.png' %}" alt="Logo Email" style="padding: 10px;">{{ user.0.email }}</li>
      <li><img src="{% static 'images/location.png' %}" alt="Logo Location" style="padding: 10px;">{{ user.0.alamat }}</li>
    </ul>
  </div>

  <div class="column right" style="background-color: #f0f0f0;">
    <h1 class="text-center mt-3">Informasi Tim</h1>
    {% if tim %}
    <h3 class="text-center mt-3">{{ tim.0.nama_tim }}</h3>
    <h5 class="text-center mt-3">{{ tim.0.universitas }}</h5>
    <ul class="list-unstyled text-center profile">
      <li><img src="{% static 'images/player.png' %}" alt="Logo Player" style="padding: 10px;">Daftar Pemain</li>
      <div class="container-fluid" style="padding-right: 35px;">
      <table>
        <tr>
          <th>Kapten</th>
          <th>Nama Depan</th>
          <th>Nama Belakang</th>
          <th>Nomor HP</th>
          <th>Tanggal Lahir</th>
          <th>Posisi</th>
          <th>NPM</th>
          <th>Jenjang</th>
        </tr>
        {% for i in pemain %}
        <tr>
          <td>{% if i.is_captain %} ✔ {% endif %}</td>
          <td>{{ i.nama_depan }}</td>
          <td>{{ i.nama_belakang }}</td>
          <td>{{ i.nomor_hp }}</td>
          <td>{{ i.tgl_lahir }}</td>
          <td>{{ i.posisi }}</td>
          <td>{{ i.npm }}</td>
          <td>{{ i.jenjang }}</td>
        </tr>
        {% endfor %}
      </table>
      </div>
      <li><img src="{% static 'images/coach.png' %}" alt="Logo Pelatih" style="padding: 10px;">Daftar Pelatih</li>
      <div class="container-fluid" style="padding-right: 35px;">
        <table>
          <tr>
            <th>Nama Depan</th>
            <th>Nama Belakang</th>
            <th>Nomor HP</th>
            <th>Email</th>
            <th>Alamat</th>
            <th>Spesialisasi</th>
          </tr>
          {% for i in pelatih %}
          <tr>
              <td>{{ i.nama_depan }}</td>
              <td>{{ i.nama_belakang }}</td>
              <td>{{ i.nomor_hp }}</td>
              <td>{{ i.email }}</td>
              <td>{{ i.alamat }}</td>
              <td>{{ i.spesialisasi }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </ul>
    {% else %}
    <p class="text-center mt-3">Belum Membuat Tim</p>
    {% endif %}
  </div>
</div>
{% endblock content %}