{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock meta %}

{% block content %}
{% include 'navbar-panitia.html' %}
  <div class="row">
    <div class="column left" style="background-color:#D6D6D6;"> 
      <h1 class="text-center mt-3">Halo, Panitia!</h1>
      <div class="profile-pic" style="padding-top: 65px;">
        <img src="{% static 'images/id-card.png' %}" alt="Logo ID Card">
      </div>
      <h2 class="text-center mt-3">{{ user.0.nama_lengkap }}</h2>
      <p class="text-center bio"></p>
      <ul class="list-unstyled text-center profile">
        <li><img src="{% static 'images/status_nonpemain.png' %}" alt="Logo Status Non Pemain" style="padding: 10px;">{{ user.0.status }}</li>
        <li><img src="{% static 'images/role.png' %}" alt="Logo Role" style="padding: 10px;">{{ user.0.jabatan }}</li>
        <li><img src="{% static 'images/phone.png' %}" alt="Logo Phone" style="padding: 10px;">0{{ user.0.nomor_hp }}</li>
        <li><img src="{% static 'images/email.png' %}" alt="Logo Email" style="padding: 10px;">{{ user.0.email }}</li>
        <li><img src="{% static 'images/location.png' %}" alt="Logo Location" style="padding: 10px;">{{ user.0.alamat }}</li>
      </ul>
    </div>

    <div class="column right" style="background-color: #f0f0f0; padding-right: 40px;">
      <h1 class="text-center mt-3">Daftar Rapat</h1>
      {% if rapat %}
      <table>
        <tr>
          <th>Tim Bertanding</th>
          <th>Stadium</th>
          <th>Tanggal</th>
        </tr>
        {% for i in rapat %}
        <tr>
          <td>{{ i.tim }}</td>
          <td>{{ i.nama_stadium }}</td>
          <td>{{ i.start_datetime }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p class="text-center mt-3" style="margin-top: 10px;">Belum Ada Rapat</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}