{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>U_League</title>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock meta %}

{% block content %}
  <nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" type="button" href="/" style="background-color: #F9D949; color:black;"><img src="{% static 'images/soccer.png' %}" alt="Logo IUFC" style="padding-right: 10px;">U-LEAGUE IUFC</a>
  </nav>

  <div class="container text-center mt-5">
    <h2>U League - Login/Register</h2>
    <a type="button" href="/register" class="btn btn-dark my-2">Register</a> <br>
    <a type="button" href="/login" class="btn btn-dark my-2">Login</a> <br>
  </div>
{% endblock content %}