.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27%;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin-left: 10px;
  margin-right: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}