{% extends 'base.html' %}

{% block meta %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    prefix: "tw-",
  }
</script>
{% endblock meta %}

{% block content %}
  <div class="tw-flex tw-flex-col tw-items-center tw-p-20 gap-4">
    <div class="tw-font-bold tw-text-2xl tw-pb-4">Register Pelanggan</div>
    
    <form action="" method="post">
      {% csrf_token %}
      <div class="tw-flex tw-flex-col tw-p-12 tw-rounded-lg tw-drop-shadow-xl tw-bg-white tw-gap-4">
        <div class="tw-grid tw-grid-cols-2 tw-gap-4">
          <div class="tw-flex tw-flex-col tw-gap-4">
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Email</p>
              <input type="email" name="email" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Email" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Password</p>
              <input type="password" name="password" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Password" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Nama Depan</p>
              <input type="text" name="fname" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Nama" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Nama Belakang</p>
              <input type="text" name="lname" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Nama" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Nomor HP</p>
              <input type="number" name="noHp" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Nomor HP" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">NIK</p>
              <input type="number" name="nik" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="NIK" required/>
            </div>
          </div>
          <div class="tw-flex tw-flex-col tw-gap-4">
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Nama Bank</p>
              <input type="text" name="bankName" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Nama Bank" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Nomor Rekening</p>
              <input type="number" name="noRek" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Nomor Rekening" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Tanggal Lahir</p>
              <input type="date" name="tglLhr" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" placeholder="Tanggal Lahir" required/>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-2">
              <p class="tw-font-semibold">Jenis kelamin</p>
              <select name="kelamin" class="tw-border tw-border-black tw-rounded-lg tw-px-1 tw-py-2" required>
                <option disabled selected>Jenis kelamin</option>
                <option value="L">Laki-laki</option>
                <option value="P">Perempuan</option>
              </select>
            </div>
          </div>
        </div>
        <button class="tw-rounded-lg tw-px-4 tw-py-2 tw-bg-blue-400" type="submit">Daftar</button>
      </div>
    </form>
  </div>
{% endblock content %}