<!-- Navbar Manajer -->
{% load static %}
<nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" style="background-color: #F9D949; color:black;"><img src="{% static '/images/soccer.png' %}" alt="Logo IUFC" style="padding-right: 10px;">U-LEAGUE IUFC</a>
    <ul class="navbar-nav navbar-expand-md mr-auto">
        <li class="nav-item navbar-li active">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item navbar-li">
            <a class="nav-link" href="#">Kelola Tim</a>
        </li>
        <li class="nav-item navbar-li">
            <a class="nav-link" href="#">Reservasi Stadium</a>
        </li>
        <li class="nav-item navbar-li">
          <a class="nav-link" href="#">List Pertandingan</a>
        </li>
        <li class="nav-item navbar-li">
          <a class="nav-link" href="#">History Rapat</a>
      </li>
    </ul>
    <a type="button" href="/logout" class="btn btn-danger navbar-btn" style="float:right;">Log Out</a>
</nav>