<!-- Navbar Panitia -->
{% load static %}
<nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" style="background-color: #F9D949; color:black;"><img src="{% static '/images/soccer.png' %}" alt="Logo IUFC" style="padding-right: 10px;">U-LEAGUE IUFC</a>
    <ul class="navbar-nav navbar-expand-md mr-auto">
        <li class="nav-item navbar-li">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item navbar-li">
            <a class="nav-link" href="/manage"> Manage Pertandingan</a>
        </li>
        <li class="nav-item navbar-li">
            <a class="nav-link" href="{% url 'trigger2:mulai_rapat' %}">Rapat</a>
        </li>
        <li class="nav-item navbar-li">
            <a class="nav-link" href="{% url 'trigger_3:pembuatanPertandingan'  %}"> Bikin Pertandingan</a>
        </li>
    </ul>
    <a type="button" href="/logout" class="btn btn-danger navbar-btn" style="float:right;">Log Out</a>
</nav>