{% extends 'base.html' %}

{% block content %}
<table class="table table-sm table-hover table-bordered text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Grup</th>
      <th scope="col">Tim</th>
      <th scope="col">Waktu</th>
      <th scope="col">Pemenang</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- IF TABEL PERTANDINGAN NOT EMPTY -->
    {% for data in pertandingan %}
    <tr> 
      <th scope="row">{{ data.number }}</th>
      <td>A</td>
      <td>{{ data.tim }}</td>
      <td>{{ data.waktu }}</td>
      <td>A</td>
      <td>
        <a class="badge badge-peristiwa" href="/peristiwa/{{data.id_pertandingan}}/{{data.tim_1}}">
          Lihat Peristiwa Tim 1</a> <br>
        <a class="badge badge-peristiwa" href="/peristiwa/{{data.id_pertandingan}}/{{data.tim_2}}">
          Lihat Peristiwa Tim 2</a>
          <a role="button" class="btn btn-sm btn-success" href="/mulai/{{data.id_pertandingan}}">Mulai</a>
      </td>
    </tr>
    <tr>
    {% endfor %}

    <tr> 
      <th scope="row">1</th>
      <td>A</td>
      <td>A vs B</td>
      <td>28 April 2023, 13:00</td>
      <td>A</td>
      <td>
        <a class="badge badge-peristiwa" href="#">Lihat Peristiwa Tim 1</a> <br>
        <a class="badge badge-peristiwa" href="#">Lihat Peristiwa Tim 2</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>A</td>
      <td>C vs D</td>
      <td>29 April 2023, 13:00</td>
      <td>D</td>
      <td>
        <a class="badge badge-peristiwa" href="#" role="button">Lihat Peristiwa Tim 1</a> <br>
        <a class="badge badge-peristiwa" href="#" >Lihat Peristiwa Tim 2</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>A</td>
      <td>E vs F</td>
      <td>
        <span class="badge badge-pill badge-warning">waktu dimulai -5 menit</span>
      </td>
      <td>-</td>
      <td>
        <a role="button" class="btn btn-sm btn-success" href="/mulai/{{data.id_pertandingan}}">Mulai</a>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>A</td>
      <td>G vs H</td>
      <td>10 May 2023, 13:00</td>
      <td>-</td>
      <td>
        <span class="badge badge-pill badge-danger">Belum Waktunya</span>
      </td>
    </tr>
    <!-- ELSEIF TABEL PERTANDINGAN EMPTY -->
    <!-- <tr>
      <td colspan="6">
        
        PERTANDINGAN BELUM LENGKAP! <br>
        KLIK TOMBOL NEXT UNTUK MEMBUAT PERTANDINGAN <br>
        <button class="btn btn-sm btn-info" href="#" role="button">
          NEXT >>
        </button>
      </td>
    </tr> -->
    <!-- END IF TABEL PERTANDINGAN NOT EMPTY -->
  </tbody>
</table>
{% endblock content %}