{% extends 'base.html' %}

{% block content %}
<table class="table table-sm table-hover table-bordered text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Grup</th>
      <th scope="col">Tim</th>
      <th scope="col">Waktu</th>
      <th scope="col">Pemenang</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="6">
        PERTANDINGAN BELUM LENGKAP! <br>
        KLIK TOMBOL NEXT UNTUK MEMBUAT PERTANDINGAN <br>
        <button class="btn btn-sm btn-info" href="#" role="button">
          NEXT >>
        </button>
      </td>
    </tr>
  </tbody>
</table>
{% endblock content %}